
$font-stack: 'Roboto', sans-serif;
    $primary-color: white;

    * {
        font-family: 'Roboto', sans-serif;
        a{
            text-decoration: none;
        }
        h1{
        font-size: 24px;
        font-weight: 900;
        margin: 0;
        }
        .icon{
            display: flex;
            align-items: center;
            
        }
    }

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
   
    
}

body {
    display: flex;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
    margin: 0;
    
    }
.container-logo{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    position: sticky;
    z-index: 999;
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    margin: 15px;
    width: 100%;
    @media (min-width: 768px){
        justify-content: flex-start;
        gap: 0;
        
    }
        img{
            width: 197px;
            height: 36px;
            padding: 0px 19px 0px 100px;
            display: flex;
            @media (min-width: 768px){
                padding-left: 45% ;
            }
            
        }
        
}

.btn-explorer{
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: var(--Button-Gradient, linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%));
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);    
    display: flex;
    color: var(--White, #FFF);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    transition: opacity 2s, box-shadow 2s;

    @media (min-width: 768px){
        margin: 0;
    }
    &:hover{
        
        opacity: 0.7;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
    }
    
}


/*Section fontionnement*/
.fonctionnement{
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    padding-bottom: 40px;

    @media (min-width: 768px){
        padding: 50px 100px;
       
    }
    
    h1{
        width: 275px;
        height: 31px;
        padding-top: 48px;
        @media (min-width: 768px){
            width: 100%;
            padding-top: 0;
        }
        
    }
    .etapes-btn{
        @media (min-width: 768px){
            display: flex;
            flex-direction: row;
    }
    }
    .fonc-etapes{
        display: flex;
        gap: 15px;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        
        
        .cercle{
            width: 24px;
            height: 24px;
            border-radius: 20px;
            background: #9356DC;
            position: absolute;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            margin: -10px;
           
        }
        .fonc-btn{
            
            display: flex;
            height: 72.379px;
            width: 100%;
            gap: 25px;
            padding-left: 30px;
            border-radius: 20px;
            background: var(--Background, #F6F6F6);
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            @media (min-width: 768px){
                padding-left: 35px;
            }
            .btn-text{
                display: flex;
                align-items: center;
            }
            .icon i{
                color: #7E7E7E;
            }
        }
        
    }
}

/*Section restaurants*/
.restaurants{
    display: flex;
    flex-direction: column;
    padding: 50px 20px 50px;
    background: #F6F6F6;
    gap: 20px;
    
    h1{
        @media (min-width: 768px){
            padding-left: 80px;
        }
    }


    a{
        text-decoration: none;
        color: black;
        width: 100%;
        @media (min-width: 768px){
            width: auto;
        }
    
    }
    .resto-cards{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
        @media (min-width: 768px){
         flex-direction: row;
         width: 100%;
         gap: 20px;
         justify-content: space-between;
         
        }
        .frame {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 10px;
            width: 100%;

            @media (min-width: 768px){
            flex-direction: row;
            gap: 30px;
            align-items: flex-start;
            align-self: stretch;
            align-content: stretch;
            flex-wrap: nowrap;
            width: 90%;
            padding-left: 50px;
            padding-right: 80px;
            }
                
        }

        .card{
        background-color: white;
        border-radius: 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        width: 100%;
        @media (min-width: 768px){
         width: 100%;
         display: flex;
         flex-direction: column;   
        }
        
        .nouveau{
            position: absolute;
            margin-top:-220px ;
            margin-left: 70%;
            z-index: 1;
            color: green;
            width: 80px;
            height: 29px;
            background: var(--Green, #99E2D0);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 500;

            
        }
            img{
                width: 100%;
                height: 231px;
                object-fit: cover;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                

                
                }
                .card-content{
                    display: flex;
                    flex-direction: row;
                    
                        .card-txt{
                        display: flex;
                        flex-direction: column;
                        padding: 13px;
                        gap: 7px;
                        width: 80%;
                        @media (min-width: 768px){
                            width: 100%;
                        }
                        
                
                        .card-title{
                            font-size: 18px;
                            font-weight: 700;
                            margin: 0;
                            
                        }
                        .card-subtitle{
                            font-size: 17px;
                            font-weight: 300;
                            margin: 0;
                        }
                    
                        }
                       
                       
                        
                       
                        
                }

        }
    }
}
/*HEART*/
.heart-empty{
    display: flex;
    position: absolute;
    align-self: center;
    justify-content: flex-end;
    font-size: 20px;
    -webkit-text-stroke-color: black;
    right: 25px;
    margin-top: 25px;
    &:hover{
        overflow: hidden;
        }
}
.heart-full{
    display: flex;
    position: absolute;
    align-self: center;
    justify-content: flex-end;
    color: transparent;
    margin-top: 25px;
    font-size: 20px;
   
    -webkit-background-clip: text;
    right: 25px;
    background-image: linear-gradient(#9356DC,#FF79DA);
    opacity: 0;
    transition: opacity 1s;
    
    &:hover{  
       opacity: 1;
    }

    
    }
    
    
/*FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    background: var(--Grey, #353535);
    color: white;
    padding: 22px 25px;
    gap: 16px;
    @media (min-width: 768px){
        flex-direction: row-reverse;
        padding: 30px 25px;
        align-items: flex-end;
        height: 45px;


    }
    .footer-logo{
        display: flex;
        color: white;
        font-family: Shrikhand;
        

    }
    .footer-elements{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
        @media (min-width: 768px){
            flex-direction: row;
        }
        p{
            margin: 0;
        }
    }
    i{padding-right: 10px;}
}