@keyframes progress-check {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 59px;
  }
}

.fonc-etapes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 93%;
  position: relative;
  cursor: pointer;
}

.fonc-etapes:active .check-mark-button {
  transform: translateX(0);
  transition: transform 750ms ease;
  transition: width 1s ease-in-out;
  width: 70px;
}

.fonc-etapes:active .prix {
  transform: translateX(-60px);
  transition: transform 5s ease;
}

.fonc-etapes a {
  width: 93%;
}

.check-mark-button {
  width: 0%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73px;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  transform: translateX(0);
  transition: transform 750ms ease;
  z-index: 0;
}

.check-mark-button i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #99E2D0;
}
