@media (max-width: 767.98px) {
  * {
    font-family: 'Roboto', sans-serif;
  }
  * a {
    text-decoration: none;
  }
  * h1 {
    font-size: 24px;
    font-weight: 900;
    margin: 0;
  }
  * .icon {
    display: flex;
    align-items: center;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  body {
    display: flex;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
    width: 100%;
    margin: 0;
  }
  .container-logo {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    position: sticky;
    z-index: 999;
  }
  .logo {
    display: flex;
    padding: 14px 89px 13px 89px;
    justify-content: center;
    align-items: center;
  }
  .logo img {
    width: 197px;
    height: 36px;
    padding: 0px 19px 0px 16px;
  }
  .location {
    display: flex;
    justify-content: center;
    background: var(--Grey-2, #EAEAEA);
    width: 100%;
    height: 50px;
    gap: 17px;
    align-content: center;
  }
  .fa-location-dot {
    display: flex;
    width: 22px;
    height: 16px;
    fill: var(--Grey, #353535);
  }
  .location-text {
    display: flex;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
  }
  .reservation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    background: var(--Background, #F6F6F6);
    height: 300px;
  }
  .reservation h1 {
    width: 275px;
    height: 68px;
    text-align: center;
  }
  .reservation .description {
    width: 315px;
    height: 46px;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-weight: 300;
    color: var(--Grey, #353535);
    margin: 0;
  }
  .reservation .btn-explorer {
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: var(--Button-Gradient, linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    color: var(--White, #FFF);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }
  /*Section fontionnement*/
  .fonctionnement {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
  }
  .fonctionnement h1 {
    width: 275px;
    height: 31px;
    padding-top: 48px;
  }
  .fonctionnement .fonc-etapes {
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    padding: 15px;
  }
  .fonctionnement .fonc-etapes .cercle {
    width: 24px;
    height: 24px;
    border-radius: 20px;
    background: #9356DC;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: -10px;
  }
  .fonctionnement .fonc-etapes .fonc-btn {
    display: flex;
    height: 72.379px;
    width: 100%;
    gap: 25px;
    padding-left: 30px;
    border-radius: 20px;
    background: var(--Background, #F6F6F6);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  }
  .fonctionnement .fonc-etapes .fonc-btn .btn-text {
    display: flex;
    align-items: center;
  }
  .fonctionnement .fonc-etapes .fonc-btn .icon i {
    color: #7E7E7E;
  }
  /*Section restaurants*/
  .restaurants {
    display: flex;
    flex-direction: column;
    padding: 50px 20px 50px;
    background: #F6F6F6;
    gap: 20px;
  }
  .restaurants a {
    text-decoration: none;
    color: black;
    width: 100%;
  }
  .restaurants .resto-cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
  }
  .restaurants .resto-cards .card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%;
  }
  .restaurants .resto-cards .card .nouveau {
    position: absolute;
    margin-top: -220px;
    margin-left: 70%;
    z-index: 1;
    color: green;
    width: 80px;
    height: 29px;
    background: var(--Green, #99E2D0);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
  }
  .restaurants .resto-cards .card img {
    width: 100%;
    height: 231px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .restaurants .resto-cards .card .card-content {
    display: flex;
    flex-direction: row;
  }
  .restaurants .resto-cards .card .card-content .card-txt {
    display: flex;
    flex-direction: column;
    padding: 13px;
    gap: 7px;
    width: 80%;
  }
  .restaurants .resto-cards .card .card-content .card-txt .card-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }
  .restaurants .resto-cards .card .card-content .card-txt .card-subtitle {
    font-size: 17px;
    font-weight: 300;
    margin: 0;
  }
  .restaurants .resto-cards .card .card-content .heart {
    display: flex;
    align-self: center;
    justify-content: flex-end;
  }
  /*FOOTER*/
  footer {
    display: flex;
    flex-direction: column;
    background: var(--Grey, #353535);
    color: white;
    padding: 22px 25px;
    gap: 16px;
  }
  footer .footer-logo {
    display: flex;
    width: 139px;
    height: 27px;
    color: white;
    margin-left: -20px;
  }
  footer .footer-elements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
  }
  footer .footer-elements p {
    margin: 0;
  }
  footer i {
    padding-right: 10px;
  }
  /*Page Menu*/
  .arrow {
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 10px;
  }
  .arrow a {
    text-decoration: none;
    color: black;
  }
  .header-image {
    display: flex;
    width: 375px;
    height: 275px;
  }
  .main-container {
    fill: var(--Background, #F6F6F6);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-top-right-radius: 30px;
  }
  .main-container .container-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  .main-container .container-title .nom-resto {
    color: var(--Black, #101010);
    font-family: Shrikhand;
    font-size: 28px;
    font-weight: 400;
  }
  .entrees {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .fonc-etapes {
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    padding: 15px;
  }
  .fonc-btn {
    display: flex;
    height: 72.379px;
    width: 100%;
    gap: 25px;
    padding-left: 30px;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  }
  .fonc-btn .btn-text {
    display: flex;
    align-items: center;
  }
}
