* {
  font-family: 'Roboto', sans-serif;
}

* a {
  text-decoration: none;
}

* h1 {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}

* .icon {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  gap: 35px;
  align-self: stretch;
  margin: 0;
}

.container-logo {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: sticky;
  z-index: 999;
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-explorer {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  color: var(--White, #FFF);
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  transition: opacity 2s, box-shadow 2s;
}

@media (min-width: 768px) {
  .btn-explorer {
    margin: 0;
  }
}

.btn-explorer:hover {
  opacity: 0.7;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
}

/*Section fontionnement*/
.fonctionnement {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 30px;
}

@media (min-width: 768px) {
  .fonctionnement {
    padding: 50px 100px;
  }
}

.fonctionnement h1 {
  width: 275px;
  height: 31px;
  padding-top: 48px;
}

@media (min-width: 768px) {
  .fonctionnement h1 {
    width: 100%;
    padding-top: 0;
  }
}

.fonctionnement .etapes-btn {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .fonctionnement .etapes-btn {
    display: flex;
    flex-direction: row;
  }
}

.fonctionnement .fonc-etapes {
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: center;
}

.fonctionnement .fonc-etapes .cercle {
  width: 24px;
  height: 24px;
  border-radius: 20px;
  background: #9356DC;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: -10px;
}

.fonctionnement .fonc-etapes .fonc-btn {
  display: flex;
  height: 72.379px;
  width: 100%;
  gap: 25px;
  padding-left: 30px;
  border-radius: 20px;
  background: var(--Background, #F6F6F6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .fonctionnement .fonc-etapes .fonc-btn {
    padding-left: 35px;
  }
}

.fonctionnement .fonc-etapes .fonc-btn .btn-text {
  display: flex;
  align-items: center;
}

.fonctionnement .fonc-etapes .fonc-btn .icon i {
  color: #7E7E7E;
}

.fonctionnement .fonc-etapes .fonc-btn .icon i:hover {
  color: #9356DC;
}

/*Section restaurants*/
.restaurants {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  padding-left: 20px;
  background: #F6F6F6;
  gap: 20px;
}

@media (min-width: 768px) {
  .restaurants {
    padding: 50px 100px;
  }
}

@media (min-width: 768px) {
  .restaurants h1 {
    padding-left: 80px;
  }
}

.restaurants a {
  text-decoration: none;
  color: black;
  width: 100%;
}

.restaurants .resto-cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

@media (min-width: 768px) {
  .restaurants .resto-cards {
    flex-direction: row;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
  }
}

.restaurants .resto-cards .frame {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  .restaurants .resto-cards .frame {
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    align-self: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
    width: 100%;
  }
}

.restaurants .resto-cards .card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 100%;
}

@media (min-width: 768px) {
  .restaurants .resto-cards .card {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.restaurants .resto-cards .card .nouveau {
  position: absolute;
  margin-top: -220px;
  margin-left: 80%;
  z-index: 1;
  color: green;
  width: 80px;
  height: 29px;
  background: var(--Green, #99E2D0);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .restaurants .resto-cards .card .nouveau {
    margin-left: 80%;
    margin-top: 20px;
  }
}

.restaurants .resto-cards .card img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.restaurants .resto-cards .card .card-content {
  display: flex;
  flex-direction: row;
}

.restaurants .resto-cards .card .card-content .card-txt {
  display: flex;
  flex-direction: column;
  padding: 13px;
  gap: 7px;
  width: 80%;
}

@media (min-width: 768px) {
  .restaurants .resto-cards .card .card-content .card-txt {
    width: 100%;
  }
}

.restaurants .resto-cards .card .card-content .card-txt .card-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.restaurants .resto-cards .card .card-content .card-txt .card-subtitle {
  font-size: 17px;
  font-weight: 300;
  margin: 0;
}

/*HEART*/
.heart-empty {
  display: flex;
  position: absolute;
  align-self: center;
  justify-content: flex-end;
  font-size: 20px;
  -webkit-text-stroke-color: black;
  right: 25px;
  margin-top: 25px;
}

.heart-empty:hover {
  overflow: hidden;
}

.heart-full {
  display: flex;
  position: absolute;
  align-self: center;
  justify-content: flex-end;
  color: transparent;
  margin-top: 25px;
  font-size: 20px;
  -webkit-background-clip: text;
  right: 25px;
  background-image: linear-gradient(#9356DC, #FF79DA);
  opacity: 0;
  transition: opacity 1s;
}

.heart-full:hover {
  opacity: 1;
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  background: var(--Grey, #353535);
  color: white;
  padding: 22px 25px;
  gap: 16px;
}

@media (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
    padding: 30px 25px;
    align-items: flex-end;
    height: 45px;
  }
}

footer .footer-logo {
  display: flex;
  color: white;
  font-family: Shrikhand;
}

footer .footer-elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

@media (min-width: 768px) {
  footer .footer-elements {
    flex-direction: row;
  }
}

footer .footer-elements p {
  margin: 0;
}

footer i {
  padding-right: 10px;
}
